@mixin w100-mw-m-p {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
};

@mixin d-f-a-i-c-j-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin padding4040040 {
  padding: 40px 40px 0 40px;
}

@mixin w33h391f-s-0 {
  width: 33%;
  height: 391px;
  flex-shrink: 0;
}