html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;

}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {text-decoration: none;


}



@import "variables";
@import "mixins";

body {
 background-color: $bg-primary;
}

header {
  padding: 30px 0;
  margin-bottom: 89px;
}

.container {
 @include w100-mw-m-p;
}


a:link {
  color: $color-primary;
}

a:visited {
  color: $color-primary;
}

.header-section__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section__logo {
  display: flex;
}

.header-section__btn {
  display: flex;
  border: 1px solid $color-primary;
  align-items: center;
  padding: 0 11px 0 25px;
  box-sizing: border-box;

  &:hover {
    background-color: #1F1F1F;
  }
}

.header-section__btn-text {
  color: $color-primary;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-left: 8px;
}

/*main_header*/

/*first-section*/

.first-section__title-header {
  color:$color-secondary;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 56% */
  margin-bottom: 43px;
}

.first-section__header-text {
  color: $color-secondary;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  margin-bottom: 41px;
}

.first-section__grid {
  display: grid;
  justify-content: space-between;

  gap: 25px;
  grid-template-columns: 375px 375px 378px;
  grid-template-rows: 468px ;
  box-sizing: border-box;
  margin-bottom: 25px;
}


.first-section__grid-block-1 {
  @include d-f-a-i-c-j-c-c;
  background-color: #634F2C;
}

.first-section__grid-block-2 {
  @include d-f-a-i-c-j-c-c;
  background-color: #B4A385;
}

.first-section__grid-block-3 {
  @include d-f-a-i-c-j-c-c;
  background-color: #E4B564;
}

.second-section__grid {
  display: grid;
  justify-content: space-between;

  gap: 25px;
  grid-template-columns: 577px 577px;
  grid-template-rows: 468px ;
  margin-bottom: 161px;
  box-sizing: border-box;
}

.second-section__grid-block-4 {
  @include d-f-a-i-c-j-c-c;
  background-color: #635A4A;
}

.second-section__grid-block-5 {
  @include d-f-a-i-c-j-c-c;
  background-color: #B08C4D;
}

.inner-text {
  color: $color-secondary;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */

}

/*middle-section*/

.middle-section_title {
  color: $color-secondary;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 56% */
  margin-bottom: 43px;
}

.middle-section__grid {
  display: grid;


  gap: 25px;
  grid-template-columns: 375px 375px 375px;
  grid-template-rows: repeat(6, 115px);
  box-sizing: border-box;
  margin-bottom: 192px;
}

.middle-section__grid-block-1 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
  display: block;
  background: #0E0E0E;
  @include padding4040040;
}

.middle-section__grid-block-2 {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 2;
  display: block;
  background: #242424;
  @include padding4040040;
}


.middle-section__grid-block-3 {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
  display: block;
  background: #1F1F1F;
  @include padding4040040;
}

.middle-section__grid-block-4 {
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 7;
  grid-column-end: 3;
  display: block;
  background: #1F1F1F;
  @include padding4040040;
}

.middle-section__grid-block-5 {
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
  display: block;
  background: #E4B564;
  @include padding4040040;
}

.middle-section__grid-block-6 {
  grid-row-start: 5;
  grid-column-start: 3;

  grid-row-end: 7;
  grid-column-end: 4;
  display: block;
  background: #E4B564;
  @include padding4040040;
}

.middle-section__grid-block-7 {
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 5;
  grid-column-end: 4;
  display: block;
  background: #0A0909;
  @include padding4040040;
}

.middle-section__text {
  color: $color-secondary;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bold-text {
  color: $color-secondary;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}


/*section-clients*/

.client-section {
  background-color: $bg-primary;
  padding-top: 150px
}

.client-section__title {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 61px;
}

.client-section__title-header {
  color: $color-secondary;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 56% */
}


.client-section__title-link {
  display: flex;
  border: 1px solid $color-primary;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
}

.client-block {
  display: flex;
  flex-wrap: wrap;
}

.client-block__square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-1 {
  @include w33h391f-s-0 ;
  background: #634F2C;

}

.client-2 {
  @include w33h391f-s-0 ;
  background: #E8D2ABC2;
}

.client-2__text {
  color:$color-secondary;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 127.273% */
}

.client-2__intro {
  display: inline-block;
  text-align: center;
  padding: 60px 60px 0;
}

.client-3 {
  @include w33h391f-s-0 ;
  background: #E4B564;
}

.client-4 {
  @include w33h391f-s-0 ;
  background: #635A4A;
}

.client-5 {
  @include w33h391f-s-0 ;
  background: #B08C4D;
}

.client-6 {
  @include w33h391f-s-0 ;
  background: #634F2C;
}


.picture {
  margin-bottom: 10px;
}


/*footer*/


footer {
  width: 100%;
  height: 200px;
  background: #171717;
}


